@charset "UTF-8";

@media screen and (min-width: 750px) {

  html{
    font-size: 100%;
}

  #open {
    display: none;
  }

  #logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 3em;
  }

  #navbar {
    display: block;
  }

  #links {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: 50px;
    padding: 10px 3%;
    opacity: 1;
    background-color: red;
  }

  #links > a{
    font-size: 15px;
  }

  .link1 {
    margin-top: 0em;
  }

}
