@charset "UTF-8";

:root {
  --lightblue: #42d5dd;
  --darkblue: #00beb3;
  --textcolor: #fff;
  --texcolor2: #000;
}

@media screen and (min-width: 768px) {

  html{
    font-size: 80%;
}

  #open {
    display: none;
  }

.logo {
  left: 5%;
}

#logo {
  width: 110px;
  height: 110px;
}

  #navbar {
    display: block;
  }

  #links {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: 50px;
    padding: 10px 3%;
    opacity: 1;
    background-color:var(--textcolor);
  }

  #links > a{
    font-size: 15px;
  }

  .link1 {
    margin-top: 0em;
  }

  .container {
    width: 700px;
    
  }
}

@media screen and (min-width: 998px) {
  html {
    font-size: 90%;
  }

  .logo {
    left: 5%;
  }
  
  #logo {
    width: 115px;
    height: 115px;
  }

  #links > a{
    font-size: 1em;
  }

  .container {
    width: 800px;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 100%;
  }

  .logo {
    left: 5%;
  }
  
  #logo {
    width: 120px;
    height: 120px;
  }
  

  #links > a{
    font-size: 1.5em;
  }

  .container {
    width: 1000px;
  }
}

