@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Kalam', 'cursive';
    scroll-behavior: smooth;
}

:root{
    --lightpink:#FF92F6;
    --darkpink:#FF24ED;
    --textcolor:#fff;
}

body{
    background-color: var(--lightpink);
    color: var(--textcolor);
}

section{
    height: auto;
    padding: 10em 10% 2em;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: -1;
    background-color: var(--darkpink);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5em 10%;
}

#contact > a > i{
    color:var(--textcolor);
    font-size: 1em;
}
