@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    font-family: 'Kalam', 'cursive';
}

:root{
    --lightblue:#42D5DD;
    --darkblue:#00BEB3;
    --textcolor:#fff;
}

html{
    font-size: 70%;
    overflow-x: hidden;
    
}

body{
    min-height: 100vh;
    background-color: var(--lightblue);
    color: var(--textcolor);
    font-size: 1.5em;
}

section{
    padding: 10em 10% 2em;
}

header{
    z-index: 100;
    background-color: var(--textcolor);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10%;
}

header > img{
    width: 100%;
    height: 40px;
    border-radius: 50%;
}

.cabeca{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#navbar{
    margin-top: 20px;
}

#navbar > a{
    font-size: 15px;
    color: var(--darkblue);
    padding: 15px;
}

#navbar > a:hover,
#navbar > a.active{
    color: black;
}

#search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
    font-size: 1em;
    margin: 1em 0.5em 1em 0px;
    background: transparent;
    color: var(--textcolor);
    transition: .3s ease;
}

#search > a:hover{
    background-color: var(--darkblue);
}

.button{
    display: inline-block;
    padding: 1em 2em;
    font-size: 1.2em;
    font-weight: bold;
    margin: 2em 0px 3em 1em;
    background-color:var(--darkblue);
    color: var(--textcolor);
    border-radius: 1.5em;
    box-shadow: 0px 0px 1em var(--darkblue);
    letter-spacing: 1px;
}

.button:hover{
    box-shadow: none;
    cursor: pointer;
}

section.shop{
    background-color: var(--darkblue);
}

.shopBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}

.shopBox > .box{
    flex: 1 1 15em;
    background-color: var(--textcolor);
    color: var(--lightblue);
    padding: 2em 1.5em 3em;
    border-radius: 2em;
    text-align: center;
    transition: .4s ease;
}

.shopBox > .box:hover{
    transform: scale(105%);
}

.shopBox > h2{
    font-size: 3em;
}

.box > h3{
    font-size: 2.5em;
}

.box > p{
    font-size: 1.2em;
    margin: 1em 0px 1em;
}

section.about{
    background-color: var(--darkblue);
}

/* -----------------Best------------------------*/

section.best{
    background-color: var(--lightblue);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    max-width: 1200px;
    width: 100%;
    padding: 25px;
}

.container .caixa{
    padding: 45px 25px;
    overflow: hidden;
}

.image > img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 25%;
    border: 2px solid black;
    opacity: .8;
}

.card{
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 60% 40% 50% 45% / 45% 60% 35% 60%;
    background-color: transparent;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.1), 
    5px 25px 20px rgba(0, 0, 0, .1), 
    5px 20px 30px rgba(0, 0, 0, 0.1), 
    inset -20px -20px 25px rgba(255, 255, 255, 0.9);
    transition: .4s ease-in-out;
}

.card:hover{
    border-radius: 25%;
}

.card::before{
    content: '';
    position: absolute;
    top: 50px;
    left: 25px;
    width: 25px;
    height: 25px;
    background-color: var(--textcolor);
    border-radius: 50%;
    opacity: .85;
}

.card::after{
    content: '';
    position: absolute;
    top: 90px;
    left: 40px;
    width: 15px;
    height: 15px;
    background-color: var(--textcolor);
    border-radius: 50%;
    opacity: .85;
}

.card .cardContent{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 30px;
}

.cardContent .selecaoProdutos{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    color: var(--textcolor);
}

.selecaoProdutos .selecao{
    font-size: 20px;
    font-weight: bolder;
}

.selecaoProdutos .produtos{
    font-size: 15px;
    font-weight: bold;
}

.cardContent .bag{
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.cardContent .bag > i{
    font-size: 25px;
    color: var(--clr);
    margin: 0px 3px;
    opacity: .8;
}

.cardContent > button{
    position: relative;
    padding: 7px 17px;
    margin-top: 12px;
    background-color: var(--clr);
    outline: none;
    border-radius: 8px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.497);
    cursor: pointer;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    opacity: .8;
}

.cardContent > button::before{
    content: '';
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.497);
    border-radius: 5px;
}

.caixa .swiper-button-next,
.caixa .swiper-button-prev{
    color: var(--textcolor)
}

.caixa .swiper-button-next{
    right: 0px;
}

.caixa .swiper-button-prev{
    left: 0px;
}

.caixa .swiper-pagination-bullet{
    background-color: white;
    width: 13px;
    height: 13px;
}

/*---------------Contact--------------------*/

section.contact{
    background-color: var(--darkblue);
}
#social{
    display: flex;
    justify-content: center;
    align-items: center;
}

#social > a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin: 1.5em 1em 2em 0px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid var(--textcolor);
    color: var(--textcolor);
    transition: .3s ease;
}

#social > a:hover{
    background-color: var(--lightblue);
    box-shadow: 0 0 20px var(--lightblue);
}
